# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Fagbot / Other
out/
config.json
*.settings.rb

# Ruby
Gemfile.lock
.bundle

# Vagrant
.vagrant

