{
    "server":"efnet.xs4all.nl",
    "port":"6667",
    "nick":"turid_the_bot",
    "name":"a bot",
    "user":"turid",
    "admins":[
        {
            "nick":"tmn",
            "host":"trimini.no"
        },
        {
            "nick":"jmaister",
            "host":"p0p.it"
        }
    ],
    "channels":[
        "#fag4lyfe"
    ]
}